body {
    background-color: var(color-deep-purple-gray)
}

.game_review {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 400px;
    background-color: var(--color-dark-indigo);
    padding: 15px 30px;
    margin: 50px auto 0;
    box-shadow: 0px 0px 7px #00000042;
    border-radius: 10px;
}

.game_review .game_infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 300px;
}

.game_review .game_infos .game_infos-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-light-gray);
}

.game_review .game_infos .game_infos-photo{
    border-radius: 10px;
    width: 200px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.game_review .game_infos .game_infos-developer {
    color: var(--color-light-gray);
    text-decoration: none;
    font-size: 1.1rem;
}

.game_review .game_infos .game_infos-filtros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.game_review .game_infos .game_infos-filtros .genres {
    font-weight: 700;
    color: var(--color-light-gray);
    font-size: .9rem;
}

.game_review .game_infos .game_infos-filtros .genres_itens {
    display: flex;
    gap: 5px;
}

.game_review .game_infos .game_infos-filtros .genres_itens .genres_item {
    background-color: var(--color-gray);
    padding: 8px;
    border-radius: 15px;
    font-size: .8rem;
    color: var(--color-light-gray);
    text-decoration: none;
}

.game_review .game_sinopse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    max-width: 800px;
}

.game_review .game_sinopse_title {
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    color: var(--color-light-gray);
    font-weight: 800;
}

.game_review .game_sinopse_text {
    font-size: 1.3rem;
    text-align: justify;
    color: var(--color-light-gray);
    line-height: 30px;
}

.game_review .game_notes {
    color: var(--color-light-gray);
}

.game_review .game_notes_avaliation {
    font-size: 1.1rem;
    font-weight: 700;
}

.game_review .fa-star {
    color: yellow;
    font-size: 1.3rem;
}

h2#title-all-comments {
    text-align: center;
    margin: 40px 0;
    font-size: 2rem;
    color: var(--color-light-gray);
}

.my-comment, .comment-block {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    background-color: var(--color-dark-indigo);
    padding: 15px 30px;
    box-shadow: 0px 0px 7px #00000042;
    border-radius: 10px;
}

.my-comment form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--color-light-gray);
    width: 100%;
}

.my-comment form #new-comment {
    resize: none;
    width: 80%;
    height: 200px;
}

.my-comment form button {
    padding: 12px;
    width: 100px;
    border-radius: 999px;
    border: none;
    background-color: var(--color-light-gray);
    cursor: pointer;
}

.my-comment form button:hover {
    background-color: var(--color-gray);
}

.comment-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
}

.comment-block .profile-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    gap: 10px;
    color: var(--color-light-gray);
    border-right: 1px solid var(--color-gray);
}

.comment-block .profile-comment .profile-comment_image {
    width: 60px;
    border-radius: 50%;
}
.comment-block .profile-comment .profile-comment_name {
    width: 100px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.comment-block .comment-text {
    padding: 0 25px;
    color: var(--color-light-gray);
    text-align: justify;
}

.comment-block .avaliate-comment {
    display: flex;
    gap: 5px;
}

.comment-block .avaliate-comment i {
    cursor: pointer;
    font-size: 1rem;
}

.comment-block .avaliate-comment .fa-thumbs-up {
    color: green;
}
.comment-block .avaliate-comment .fa-thumbs-down {
    color: red;
}

.comment-block .avaliate-comment .number-of-avs {
    color: var(--color-light-gray);
    font-size: .8rem;
}

@media screen and (max-width: 1300px) {
    .game_review {
        max-width: 700px;
    }
    .game_review .game_infos .game_infos-title {
        font-size: 1.2rem;
    }
    .profile-comment_name {
        font-size: .9rem;
    }
    .game_review .game_infos .game_infos-developer {
        font-size: .9rem;
    }
    .game_review .game_sinopse_title {
        font-size: 1rem;
    }
    .game_review .game_sinopse_text {
        font-size: 1rem;
    }
    .game_review .game_notes {
        font-size: .8rem;
    }
    .my-comment, .comment-block {
        max-width: 700px;
    }
    .comment-block .comment-text {
        font-size: .9rem;
    }
}

@media screen and (max-width: 750px) {
    .game_review {
        height: 700px;
        max-width: 400px;
        flex-direction: column;
        
    }
    .game_review .game_sinopse {
        max-width: 400px;
    }
    .game_review .game_sinopse_text {
        font-size: .8rem;
    }
    .comment-block {
        flex-direction: column;
        gap: 15px;
    }
    .comment-block .profile-comment {
        border-right: none
    }
}